
.container {
    width: 90%;
    margin: 0% 5% 0% 5%;
}

form {
    width: 100%;
    margin: 0% 10% 0% 10%;
}

.form-control {
    padding: 5px;
    height: 30px;
}

#label {
    position: relative;
    margin: 0 0 3px 0;
    color: #666;
    text-transform: capitalize;
    font-size: 1.4rem;
    width: 100%;
}

#button {
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin: 0 auto;
    text-align: center;
    padding: 10px 30px;
    border: 1px solid #fff;
    border-radius: 50px;
}
