<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Atividade Sucedida";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/parte_sucesso.css" />

</head>
<body>
    <div class="background"></div>
    <div class="container">
        <div class="row">
            <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                <div class="icon">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>
                <!--/.icon-->
                <h1>Ação feita com sucesso</h1>
                <p>
                    Utilize o botão de menu na barra acima para voltar em outros locais
                </p>
                
            </div>
            <!--/.success-->
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
    <script>
        $(document).ready(function() {
		$('.redo').click(function() {
			$('.success, .error').toggle();
		});
    });
    </script>
