<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "Atividade Sucedida";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/parte_sucesso.css" />
    <style>
        nav{
            display:none;
        }

        footer {
            display: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="modalbox success col-sm-8 col-md-6 col-lg-5 center animate">
                <!--icon-->
                <div class="icon">
                    <span class="glyphicon glyphicon-ok"></span>
                </div>

                <h1>Ação feita com sucesso</h1>
            </div>
        </div>
    </div>
    <script>
        window.setTimeout(function () {
            window.location.href = '/Home/Index';
        }, 2000);
    </script>
</body>
</html>
