<!DOCTYPE HTML>
<html lang="pt-br">
@{
    ViewBag.Title = "AtividadeSucedida";
}
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/Content/background_imagens.css" />


</head>
<body>
    <legend> Ação feita com Sucesso!</legend>

    <div class="container" id="bgcadcliente">
        <h2>AtividadeSucedida</h2>

    </div>